*.mp4
*.pyc
*.bag
*.weights
*.avi
*.npy
*.jpeg
*.png
src/pytorch-YOLOv4/ttest
*.weights
*.pth
*.onnx
*.engine
*.pyc
*.infer
*.npy

z_demo_*

src/pytorch-YOLOv4/__pycache__
.idea
.vscode
src/pytorch-YOLOv4/runs
src/pytorch-YOLOv4/log

*.jpg
*.json
src/pytorch-YOLOv4/data/outcome
src/Untitled3.ipynb
src/Untitled4.ipynb
src/.ipynb_checkpoints/Untitled3-checkpoint.ipynb
src/.ipynb_checkpoints/Untitled4-checkpoint.ipynb
src/trt_engines/trtez_416
